@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); 
@import "tailwindcss";
@plugin "./components/hero.js";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@config "../tailwind.config.js";

body {
    font-family: "Karla", sans-serif;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
